@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
  font-family: 'Inter', sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #e2e8f0 transparent;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
